extends ./../layout.pug

block title
    | Indicação de fornecedor
    
block content
    p Prezados,
    br
    p
        | O estabelecimento #{estabelecimento} foi cadastrado para cessão de recebíveis pela Alpe.
    p Acesse o link para solicitar uma cessão:
    a(href=linkSolicitarCessao) #{linkSolicitarCessao}
