extends ./../layout.pug

block title
    | Criação de usuário
    
block content
    p Prezados,
    br
    p
        | O cadastro do usuário #{userEmail} no Portal Alpe foi realizado com sucesso.
        | O usuário receberá no e-mail as informações de acesso.