extends ./../layout.pug

block title
    | Indicação recusada
    
block content
    p Prezados,
    br
    p
        | O fornecedor #{fornecedor} recusou a indicação para realizar cessão de recebíveis pela Alpe.