extends ./../layout.pug

block title
    | Indicação de EC recusada
    
block content
    p Prezados,
    br
    p
        | O estabelecimento #{estabelecimento} recusou a indicação para realizar cessão de recebíveis pela Alpe.