extends ./../layout.pug

block title
    | Reserva de recebíveis
    
block content
    p Prezados,
    br
    p
        | O fornecedor #{fornecedor} fez uma solicitação de cessão de recebíveis (cód. #{codigoCessao}).
    p Para aprovar ou recusar esta solicitação acesse:
    a(href=linkCessaoAprovacao) #{linkCessaoAprovacao}

