extends ./../layout.pug

block title
    | Cadastro de aprovador
    
block content
    p Prezados,
    br
    p
        | O usuário #{userEmail} foi cadastrado como aprovador de cessão de recebíveis no Portal Alpe.