extends ./../layout.pug

block title
    | Cessão aprovada
    
block content
    p Prezados,
    br
    p
        | A solicitação de cessão de recebíveis (cód. #{codigoCessao}) foi aprovada por #{estabelecimento}.
    p Para consultar as suas cessões de recebíveis acesse:
    a(href=linkCessoesRealizadas) #{linkCessoesRealizadas}