extends ./../layout.pug

block title
    | Cessão recusada
    
block content
    p Prezados,
    br
    p
        | A cessão (cód. #{codigoCessao}) de #{fornecedor} foi recusada.
    p Para consultar detalhes acesse:
    a(href=linkCessoesRealizadas) #{linkCessoesRealizadas}