doctype transitional
html(style="width: 100%;padding: 0;margin: 0;")
  head
    meta(charset='UTF-8')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(name='x-apple-disable-message-reformatting')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(content='telephone=no', name='format-detection')
    title
    <!--[if (mso 16)]>
      style(type='text/css').
        a {text-decoration: none;}
    <![endif]-->
    <!--[if (gte mso 9)]>
      style(type='text/css').
        sup { font-size: 100% !important; }
        h1, h2, h3, h4, h5, p, span, div, a { font-family: arial, sans-serif !important; }
    <![endif]-->
    <!--[if (!mso)]>
    link(href='https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i', rel='stylesheet')
    <![endif]-->
    link(rel="stylesheet", href="style.css", data-inline)
  body(style="width: 100%;padding: 0;margin: 0;")
    .alpe-wrapper-color(style='background-color: #f4f4f4;')
      <!--[if (gte mso 9)]>
        v:background(xmlns:v='urn:schemas-microsoft-com:vml', fill='t')
          v:fill(type='tile', color='#f4f4f4')
      <![endif]-->
      table.alpe-wrapper(width='100%', cellspacing='0', cellpadding='0', style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;padding: 0;margin: 0;width: 100%;height: 100%;background-image: ;background-repeat: repeat;background-position: center top;')
        tbody
          tr(style='border-collapse: collapse;')
            td.esd-email-paddings(valign='top', style='padding: 0;margin: 0;')
              table.alpe-header(cellspacing='0', cellpadding='0', align='center', style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;width: 100%;background-color: #ffa73b;background-image: ;background-repeat: repeat;background-position: center top;table-layout: fixed !important;')
                tbody
                  tr(style='border-collapse: collapse;')
                    td.esd-stripe(esd-custom-block-id='6339', align='center', bgcolor='#6c1980', style='background-color: rgb(108, 25, 128);padding: 0;margin: 0;')
                      table.alpe-header-body(width='600', cellspacing='0', cellpadding='0', align='center', style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;background-color: transparent;')
                        tbody
                          tr(style='border-collapse: collapse;')
                            td.esd-structure.alpe-p20t.alpe-p10b.alpe-p10r.alpe-p10l(align='left', style='padding: 0;margin: 0;padding-bottom: 10px;padding-left: 10px;padding-right: 10px;padding-top: 20px;')
                              table(width='100%', cellspacing='0', cellpadding='0', style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;')
                                tbody
                                  tr(style='border-collapse: collapse;')
                                    td.esd-container-frame(width='580', valign='top', align='center', style='padding: 0;margin: 0;')
                                      table(width='100%', cellspacing='0', cellpadding='0', style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;')
                                        tbody
                                          tr(style='border-collapse: collapse;')
                                            td.esd-block-image.alpe-p10(align='center', style='padding: 10px;margin: 0;')
                                              a(href='', target='_blank', style="-webkit-text-size-adjust: none;-ms-text-size-adjust: none;mso-line-height-rule: exactly;font-family: lato, 'helvetica neue', helvetica, arial, sans-serif;font-size: 14px;text-decoration: underline;color: #111111;")
                                                img(src='cid:logo', alt='', style='display: block;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;', width='100')
              table.alpe-content(cellspacing='0', cellpadding='0', align='center', style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;width: 100%;table-layout: fixed !important;')
                tbody
                  tr(style='border-collapse: collapse;')
                    td.esd-stripe(style='background-color: rgb(108, 25, 128);padding: 0;margin: 0;', esd-custom-block-id='6340', bgcolor='#6c1980', align='center')
                      table.alpe-content-body(style='background-color: transparent;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;', width='600', cellspacing='0', cellpadding='0', align='center')
                        tbody
                          tr(style='border-collapse: collapse;')
                            td.esd-structure(align='left', style='padding: 0;margin: 0;')
                              table(width='100%', cellspacing='0', cellpadding='0', style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;')
                                tbody
                                  tr(style='border-collapse: collapse;')
                                    td.esd-container-frame(width='600', valign='top', align='center', style='padding: 0;margin: 0;')
                                      table(style='background-color: rgb(255, 255, 255);border-radius: 4px;border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-spacing: 0px;', width='100%', cellspacing='0', cellpadding='0', bgcolor='#ffffff')
                                        tbody
                                          tr(style='border-collapse: collapse;')
                                            td.esd-block-text.alpe-p35t.alpe-p5b.alpe-p30r.alpe-p30l(align='center', style='padding: 0;margin: 0;padding-bottom: 5px;padding-left: 30px;padding-right: 30px;padding-top: 35px;')
                                              h1(style="margin: 0;line-height: 120%;mso-line-height-rule: exactly;font-family: lato, 'helvetica neue', helvetica, arial, sans-serif;font-size: 48px;font-style: normal;font-weight: normal;color: #111111;")
                                                block title
                                          tr(style='border-collapse: collapse;')
                                            td.esd-block-spacer.alpe-p5t.alpe-p5b.alpe-p20r.alpe-p20l(bgcolor='#ffffff', align='center', style='padding: 0;margin: 0;padding-top: 5px;padding-bottom: 5px;padding-left: 20px;padding-right: 20px;')
                                              table(width='100%', height='100%', cellspacing='0', cellpadding='0', border='0', style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;')
                                                tbody
                                                  tr(style='border-collapse: collapse;')
                                                    td(style='border-bottom: 1px solid rgb(255, 255, 255);background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;height: 1px;width: 100%;margin: 0px;padding: 0;')
              table.alpe-content(cellspacing='0', cellpadding='0', align='center', style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;width: 100%;table-layout: fixed !important;')
                tbody
                  tr(style='border-collapse: collapse;')
                    td.esd-stripe(align='center', style='padding: 0;margin: 0;')
                      table.alpe-content-body(style='background-color: transparent;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;', width='600', cellspacing='0', cellpadding='0', align='center')
                        tbody
                          tr(style='border-collapse: collapse;')
                            td.esd-structure(align='left', style='padding: 0;margin: 0;')
                              table(width='100%', cellspacing='0', cellpadding='0', style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;')
                                tbody
                                  tr(style='border-collapse: collapse;')
                                    td.esd-container-frame(width='600', valign='top', align='center', style='padding: 0;margin: 0;')
                                      table(style='border-radius: 4px;border-collapse: separate;background-color: rgb(255, 255, 255);mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-spacing: 0px;', width='100%', cellspacing='0', cellpadding='0', bgcolor='#ffffff')
                                        tbody
                                          tr(style='border-collapse: collapse;')
                                            td.esd-block-text.alpe-p20t.alpe-p20b.alpe-p30r.alpe-p30l.alpe-m-txt-l(bgcolor='#ffffff', align='left', style='padding: 0;margin: 0;padding-top: 20px;padding-bottom: 20px;padding-left: 30px;padding-right: 30px;')
                                              p(style="margin: 0;-webkit-text-size-adjust: none;-ms-text-size-adjust: none;mso-line-height-rule: exactly;font-size: 18px;font-family: lato, 'helvetica neue', helvetica, arial, sans-serif;line-height: 150%;color: #666666;text-align: justify;")
                                                block content
                                          tr(style='border-collapse: collapse;')
                                            td.esd-block-text.alpe-p20t.alpe-p40b.alpe-p30r.alpe-p30l.alpe-m-txt-l(align='left', style='padding: 0;margin: 0;padding-top: 20px;padding-left: 30px;padding-right: 30px;padding-bottom: 40px;')
                                              p(style="margin: 0;-webkit-text-size-adjust: none;-ms-text-size-adjust: none;mso-line-height-rule: exactly;font-size: 18px;font-family: lato, 'helvetica neue', helvetica, arial, sans-serif;line-height: 150%;color: #666666;") Atenciosamente,
                                              p(style="margin: 0;-webkit-text-size-adjust: none;-ms-text-size-adjust: none;mso-line-height-rule: exactly;font-size: 18px;font-family: lato, 'helvetica neue', helvetica, arial, sans-serif;line-height: 150%;color: #666666;")
                                                | Equipe
                                                | Alpe
              table.alpe-content.esd-footer-popover(cellspacing='0', cellpadding='0', align='center', style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;width: 100%;table-layout: fixed !important;')
                tbody
                  tr(style='border-collapse: collapse;')
                    td.esd-stripe(align='center', style='padding: 0;margin: 0;')
                      table.alpe-content-body(style='background-color: transparent;mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;', width='600', cellspacing='0', cellpadding='0', align='center')
                        tbody
                          tr(style='border-collapse: collapse;')
                            td.esd-structure(align='left', style='padding: 0;margin: 0;')
                              table(width='100%', cellspacing='0', cellpadding='0', style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;')
                                tbody
                                  tr(style='border-collapse: collapse;')
                                    td.esd-container-frame(width='600', valign='top', align='center', style='padding: 0;margin: 0;')
                                      table(width='100%', cellspacing='0', cellpadding='0', style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;')
                                        tbody
                                          tr(style='border-collapse: collapse;')
                                            td.esd-block-spacer.alpe-p10t.alpe-p20b.alpe-p20r.alpe-p20l(align='center', style='padding: 0;margin: 0;padding-top: 10px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px;')
                                              table(width='100%', height='100%', cellspacing='0', cellpadding='0', border='0', style='mso-table-lspace: 0pt;mso-table-rspace: 0pt;border-collapse: collapse;border-spacing: 0px;')
                                                tbody
                                                  tr(style='border-collapse: collapse;')
                                                    td(style='border-bottom: 1px solid rgb(244, 244, 244);background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;height: 1px;width: 100%;margin: 0px;padding: 0;')
